<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileExplorer</title>
   
    <link rel="stylesheet" href="~/css/FileExplorerCustom.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
 

<body>
    <center>

    @RenderBody()
    </center>
</body>
</html>
