@using FileExplorer.DTOs;
@model ProjectDTO

@{
    ViewData["Title"] = "Create";
    Layout = "CustomLayout";
}
<br />
<br />
<br />
<form method="post" asp-action="Create"  >
    <div class="form-group">
        <label asp-for="ProjectName" class="btn-primary">ProjectName</label>
        <input asp-for="ProjectName" type="text" class="btn-primary" placeholder="Enter ProjectName">
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <br />
     

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>