@using FileExplorer.DTOs;
@model ProjectDTO

@{
    ViewData["Title"] = "Create";
    Layout = "CustomLayout";
}
<br />
<br />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
 
 

<form method="post" id="createprojectform" asp-action="Create">
    <div class="form-group">
        <label asp-for="ProjectName" class="btn-primary">ProjectName</label>
        <input asp-for="ProjectName" id="createprojectformname"   type="text" name="projectname" class="btn-primary" placeholder="Enter ProjectName">
        <small id="project_name_count">100 / 0 </small>
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <br />


    <br />
    <button type="submit"   class="btn btn-primary">Submit</button>
</form>

<script src="~/js/Project.Create/ProjectCreate.js"> </script>


