@using FileExplorer.DTOs;
@model ProjectDTO
@{
    ViewData["Title"] = "Edit Project";
    Layout = "CustomLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="container">
    <br />
    <br />

    <center>
        <h3 class="text-dark border border-dark border-left-0 border-bottom-0 border-right-0 ">. Edit Project .</h3>
        <br />
        <br />
        <br />
        <center style="display:none" id="redirecttoprojectindex">
            <a asp-controller="Project" asp-action="Index" class="btn btn-outline-info">All Projects</a>

        </center>
        <br />
        <br />


    </center>

    <form method="post" id="editprojectform">

        <input type="hidden" asp-for="Id" value="@Model.Id" />

        <div class="row">
            <label asp-for="ProjectName" for="projecteditformname" class=" justify-content-start text-dark">ProjectName</label>
        </div>

        <div class="row">
            <input asp-for="ProjectName" id="projecteditformname" type="text" class="form-control col-12 " placeholder="Enter ProjectName">
        </div>

        <div class="row row justify-content-end ">
            <small id="editprojectnc" class=" justify-content-end text-secondary">100 /  @Model.ProjectName.Length</small>
        </div>



        <br />


        <br />
        <div class="row justify-content-end container">
            <input type="button" id="editprojectsubmit" class="btn btn-success btn-block col-md-2 col-lg-1 col-xl-1 " value="submit" />
        </div>
    </form>


</div>

@* <script src="~/js/Project.Edit/ProjectEdit.js"> </script> *@
<script src="~/js/Project.Index/bundle.js"> </script>

