@using FileExplorer.DTOs;
@model ProjectDTO
@{
    ViewData["Title"] = "Edit Project";
    Layout = "CustomLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
<script src="~/js/Project.Edit/ProjectEdit.js"> </script>


 <script>

    document.getElementById("projecteditform").onsubmit(validation);

     document.getElementById("projecteditformname").onkeyup = function () { return CountCharsEditProject() };
    
 </script>


<form method="post"   id="projecteditform" asp-action="Edit">

    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <div class="form-group">
        <label asp-for="ProjectName" class="btn-primary">ProjectName</label>
        <input asp-for="ProjectName" id="projecteditformname" type="text" class="btn-primary" placeholder="Enter ProjectName">

        <small id="editproject_name_count">100 /  @Model.ProjectName.Length</small>
        
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <br />


    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>