@{
    ViewData["Title"] = "Projects";
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>


<div class="parent2">

    <br />
    <center>
        <h1>
            .  Projects  .
        </h1>


        <br />
        <div class="row container">
            <div class="col-6">
                <a asp-controller="Project" asp-action="Create" class="btn btn-outline-dark">Add+</a>
                <a asp-action="Index" asp-controller="FileEntity" class="btn btn-outline-dark">Home</a>
            </div>


            <div class="col-6">
                <input name="searching" class="btn btn-outline-dark col-2 col-sm-2 col-md-2 col-lg-1 col-ml-1" placeholder="Name,Path Or ..." id="projectindexsearch" />
            </div >

         
        </div>


    </center>
    <br />
    <br />
    <br />
    <div class="row container ">

        <table class="table table-responsive  table-striped" id="projectindextable">

            <thead class="thead-dark align-self-center">
                <tr class="table-dark">
                    <th scope="col" class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2"><center>#</center></th>
                    <th scope="col" class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2"><center>Id</center></th>
                    <th scope="col" class="col"><center>Name</center></th>
                    <th scope="col" class="col"><center>Edit</center></th>
                    <th scope="col" class="col"><center>Delete</center></th>
                </tr>
            </thead>

            <tbody>
            </tbody>

        </table>
    </div>


    <br />
</div>


<script src="~/js/Project.Index/ProjectIndex.js"></script>
@* <script src="~/js/Project.Index/bundle.js"></script> *@

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
