



@{
    ViewData["Title"] = "Projects";
    Layout = "CustomLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>


    <div class="parent2">

        <br />
        <center>
            <h1>
                .  Projects  .
            </h1>

            <center> 
                <br />
                <a asp-controller="Project" asp-action="Create" class="btn-primary">Add Project+</a>

                <a asp-action="Index" asp-controller="FileEntity" class="btn-primary" >Home</a>
            <form>

                <input name="searching" class="btn-primary" placeholder="Name,Path Or ..." id="projectindexsearch" />
                <input class="btn-primary" value="Search" id="projectindexsearchsubmit" type="button" />
            </form>
            </center>
        <table class="table table-responsive table-striped" id="projectindextable">
                <thead>
                <tr class="table-info">
                        <th scope="col"><center>#</center></th>
                    <th scope="col"><center>Id</center></th>
                    <th scope="col"><center>Name</center></th>
                    <th scope="col"><center>Edit</center></th>
                    <th scope="col"><center>Delete</center></th>
                    </tr>
                </thead>
                
                <tbody>

                </tbody>
               
            </table>
        </center>

        <br />
    </div>


@* <script src="~/js/Project.Index/ProjectIndex.js"></script> *@
<script src="~/js/Project.Index/bundle.js"></script>