body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dodgerblue;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
}

button.btn-primary {
    border: none;
    border-radius: 8px;
    color: dodgerblue;
    background-color: lightblue;
    margin: 15px;
    font-size: 18px;
    text-underline-offset: unset;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

a.btn-delete {
    border-radius: 10px;
    color: dodgerblue;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightblue;
    margin: 15px;
    font-size: 18px;
    text-decoration: none;
}

button.btn-delete {
    border-radius: 10px;
    border: 0;
    color: dodgerblue;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightblue;
    margin: 15px;
    font-size: 18px;
    text-decoration: none;
}

a.btn-delete:hover {
    border-radius: 10px;
    color: whitesmoke;
    background-color: red;
    margin: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    text-decoration: none;
    border: 0;
}

button.btn-delete:hover {
    border-radius: 10px;
    color: whitesmoke;
    background-color: red;
    margin: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    text-decoration: none;
    border: 0;
}

a.btn-edit {
    border-radius: 10px;
    color: dodgerblue;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightblue;
    margin: 15px;
    font-size: 18px;
    text-decoration: none;
}

    a.btn-edit:hover {
        border-radius: 10px;
        color: whitesmoke;
        background-color: springgreen;
        margin: 15px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
        text-decoration: none;
    }

button.btn-primary :hover {
    border-radius: 10px;
    color: cornflowerblue;
    background-color: cornflowerblue;
    margin: 15px;
    font-size: 18px;
    text-decoration: none;
}

button.btn-primary:focus {
    border-radius: 10px;
    color: whitesmoke;
    background-color: dodgerblue;
    margin: 15px;
    font-size: 18px;
    text-decoration: none;
}

a.btn-primary {
    border-radius: 8px;
    color: dodgerblue;
    background-color: lightblue;
    margin: 15px;
    font-size: 18px;
    text-underline-offset: unset;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

    a.btn-primary:hover {
        border-radius: 10px;
        color: cornflowerblue;
        background-color: lightblue;
        margin: 15px;
        font-size: 18px;
        text-decoration: none;
    }

input.btn-primary {
    border-radius: 8px;
    color: dodgerblue;
    font-size: 18px;
    background-color: lightblue;
    margin: 15px;
    font-size: 18px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
}

    input.btn-primary:hover {
        border-radius: 10px;
        color: dodgerblue;
        font-size: 19px;
        background-color: lightblue;
        margin: 15px;
        font-size: 18px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 4px;
    }

input.btn-primary-download {
    border-radius: 8px;
    color: dodgerblue;
    font-size: 18px;
    background-color: lightblue;
    margin: 15px;
    font-size: 18px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
}

    input.btn-primary-download:hover {
        border-radius: 8px;
        color: darkblue;
        font-size: 18px;
        background-color: lightblue;
        margin: 15px;
        font-size: 18px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 4px;
    }

input.input-primary {
    background-color: lightblue;
    border-radius: 6px;
    font-size: 18px;
    color: dodgerblue;
    border: none;
    padding-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
}

    input.input-primary:focus {
        background-color: whitesmoke;
        font-size: 18px;
        color: dodgerblue;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 4px;
    }

.parent {
    border: 2px solid lightblue;
    margin: 0.25rem;
    padding: 0.25rem 0.25rem;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 20px;
    margin-top: 34px;
}

.child {
    display: inline-flex;
    border: none;
    padding: 0.25rem 0.25rem;
    vertical-align: middle;
}

.parent2 {
    border: 2px solid;
    margin: 0.25rem;
    padding: 0.25rem 0.25rem;
    text-align: center;
    background-color: aliceblue;
    border-radius: 18px;
    margin-top: 20px;
    color: dodgerblue;
    font-size: 16px;
}

input[type="file"] {
    display: none;
}

label.btn-primary {
    background-color: lightblue;
    border-radius: 6px;
    font-size: 18px;
    color: dodgerblue;
    border: none;
    padding-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
}
/*
span.text-danger{
    font:300;
    color:red;
    background-color:Background;
}
*/
select.btn-primary {
    border-radius: 8px;
    color: dodgerblue;
    background-color: lightblue;
    margin: 15px;
    font-size: 18px;
    text-underline-offset: unset;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}


form.createhome {
    width: 90%;
    margin: 0 auto;
    align-items: self-start;
    padding-right: 100px;
}

label,
input.createhome {
    display: inline-block;
}

    label.createhome {
        width: 40%;
        text-align: right;
    }






input.createhome {
    width: 300px;
    align-content: center;
    margin-left: 10px;
    padding-left: 20px;
}

    input.createhome:hover {
        width: 300px;
        align-content: center;
        margin-left: 10px;
        padding-left: 20px;
    }

input.home-index {
}

input.home-index-delete {
}

select.filepath-sug {
    position: absolute;
    top: 15px;
    left: 105px;
    width: 350px;
    margin-left: 10px;
    margin-top: 20px;
    height: 33px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

select.project-dropdown {
    background-color: lightblue;
    border-radius: 6px;
    font-size: 18px;
    color: dodgerblue;
    border: none;
    padding-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
}

input.filepath-sug {
    border: 0px;
    position: absolute;
    top: 0px;
    left: 95px;
    width: 300px;
    width: 180px\9;
    #width:180px;
    height: 23px;
    height: 21px\9;
    #height:18px;
    border: 1px solid #556;
}


select.project-selection {
    right:10px;
    width: 350px;
    height: 33px;
    background-color: lightblue;
    border-radius: 6px;
    font-size: 18px;
    color: dodgerblue;
    border: none;
    padding-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
    margin-left: 10px;
    padding-left: 20px;
}
