@using FileExplorer.DTOs;
@model FileEntityDTO
@{
    ViewData["Title"] = "Add file Record";
    Layout = "CustomLayout";
    var allProjects = ViewBag.data;
    var recentPaths = ViewBag.recentPaths;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">

<br />
<br />

<style>

</style>


<a id="fileentitycreatereturntohome" asp-action="Index" asp-controller="FileEntity" style="display:none;" class="btn btn-outline-info">All Records</a>
<br />
<br>


<body>

    <div class="container">


        <form method="post" id="fileentitycreatefrom" asp-action="Create" enctype="multipart/form-data">
            <input asp-for="Name" value="NewFile" type="hidden" id="fileentitycreatefromname" />
            <input asp-for="ImageLink" id="fileentitycreatefromimagelink" type="hidden" />
            <input asp-for="Size" type="hidden" id="fileentitycreatefromsize" />
            <input asp-for="Type" type="hidden" id="fileentitycreatefromtype" />


            <br />

            <div>
                <div class="row justify-content-start">


                    <label class="text-dark">Path</label>
                </div>
                <div class="row ">
                    <br />
                    <select id="pathsuggestion" class="form-control col-12 ">

                        @foreach (var path in recentPaths)
                        {
                            <option class="bg-dark text-light" value="@path">@path </option>
                        }

                    </select>
                    <br />
                </div>
            </div>




            <br />

            <div>
                <div class="row justify-content-start">
                    <label asp-for="Description" class="text-dark">Description</label>
                </div>

                <div class="row ">
                    <input asp-for="Description" id="fileentitycreatefromdesc" type="text" class="form-control col-12 " placeholder="Description">
                </div>

                <div class="row justify-content-end text-secondary">
                    <small id="desccount">150 / 0</small>
                </div>
            </div>


            <div>
                <div class="row justify-content-start">

                    <label for="projectidselect" class="text-dark">ProjectName </label>
                </div>
                <div class="row">
                    <select asp-for="ProjectId" id="projectidselect" class="form-control col-12">
                        @foreach (var project in allProjects)
                        {
                            <option value="@project.Id">@project.ProjectName</option>
                        }

                    </select>
                </div>
            </div>

            <br />
            <br />

            <div class="row">
                <div class="mb-3 custom-file">
                    <label for="fileentitycreatefromfile" class="custom-form-label" id="createfileentityselectfile">Select file here</label>
                    <input name="FileToCopy" id="fileentitycreatefromfile" type="file" class="custom-form-control">
                </div>
            </div>

            <br />
            <br />

            <div class="row justify-content-end container">

                <input class="btn btn-success" type="button" value="Submit" id="fileentitycreateformsubmit" />
            </div>


        </form>


    </div>

</body>

<script src="~/js//FileEntity.Create/FileEntityCreate.js"></script>
