@using FileExplorer.DTOs;
@model FileEntityDTO
@{
    ViewData["Title"] = "Add file Record";
    Layout = "CustomLayout";
    var allProjectNames = ViewBag.data;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>

@if (Model.CreateErrorTD != null)
{
    <small>@Model.CreateErrorTD</small>
}
@if (Model.Error != null)
{
    <small>@Model.Error</small>
}

<body>
    <form method="post" id="fileentitycreatefrom" asp-action="Create" enctype="multipart/form-data">
        <input asp-for="Name" value="NewFile" type="hidden" />
        <input asp-for="Size" value="0" type="hidden" />
        <input asp-for="Type" value="type" type="hidden" />


        <br />
        <div class="form-group">
            <label asp-for="FilePath">FilePath</label>
            <input asp-for="FilePath" id="fileentitycreatefromfilepath" type="text"   class="btn-primary createhome" placeholder="Enter FilePath">
            <small id="filepathcount">180 / 0 </small>
            <span asp-validation-for="FilePath" class="text-danger"></span>
        </div>

        <br />


        <br />
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" id="fileentitycreatefromdesc" type="text" class="btn-primary createhome" placeholder="Description">
            <small id="desccount">150 / 0</small>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br />












        <br />

        <input type="hidden" asp-for="ProjectId" value="0" />

        <div class="form-group">
            <label>
                Select File

                <input asp-for="FileToCopy" id="fileentitycreatefromfile" type="file" class="btn-primary">
            </label>
            <br />
            <small id="filepath_count"></small>
            <label asp-for="ProjectName">ProjectName</label>
            <select asp-for="ProjectName">
                @foreach (var project in allProjectNames)
                {
                    <option  >@project.ProjectName</option>

                }
            </select>
            <span asp-validation-for="ProjectName" class="text-danger"></span>
        </div>

        <br />

        <br />
        <br />
        <br />


        <br />
        <button type="submit" class="btn-primary">Submit</button>
    </form>




</body>
<script src="~/js//FileEntity.Create/FileEntityCreate.js"></script>

 