@using FileExplorer.DTOs;
@model FileEntityDTO
@{
    ViewData["Title"] = "Add file Record";
    Layout = "CustomLayout";
    var allProjects = ViewBag.data;
    var recentPaths = ViewBag.recentPaths;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<br />
<br />



<a id="fileentitycreatereturntohome" asp-action="Index" asp-controller="FileEntity" style="display:none" class="btn-primary">Record Added , Redirect To Home</a>

<body>



    <form method="post" id="fileentitycreatefrom" asp-action="Create" enctype="multipart/form-data">
        <input asp-for="Name" value="NewFile" type="hidden" id="fileentitycreatefromname" />
        <input asp-for="ImageLink" id="fileentitycreatefromimagelink" type="hidden" />
        <input asp-for="Size" type="hidden" id="fileentitycreatefromsize" />
        <input asp-for="Type" type="hidden" id="fileentitycreatefromtype" />


        <br />
        <div class="form-group row w-100" style="position:relative;width:505px;height:15px;border:0;padding:0;margin:0;">


            <label class="col-3 justify-content-end text-dark">Path</label>
                  
            <br />
            <select id="pathsuggestion" class="filepath-sug">

                @foreach (var path in recentPaths)
                {
                    <option value="@path">@path </option>
                }

            </select>

            <input asp-for="FilePath" id="fileentitycreatefromfilepath" type="text"
                   placeholder="Enter FilePath" class="form-control col-6 btn btn-outline-dark border-0">
            <br />


        </div>
        <br />

        <div class="row ">
            <label asp-for="Description" class="col-3 justify-content-end text-dark">Description</label>
            <input asp-for="Description" id="fileentitycreatefromdesc" type="text" class="form-control col-6 btn btn-outline-dark border-0" placeholder="Description">
            <small id="desccount">150 / 0</small>
        </div>

        <div class="row ">

            <label for="projectidselect" class="col-3 justify-content-end text-dark">ProjectName </label>
            <select asp-for="ProjectId" id="projectidselect" class="form-control col-6 btn btn-outline-dark border-0">
                @foreach (var project in allProjects)
                {
                    <option value="@project.Id">@project.ProjectName</option>
                }

            </select>
        </div>

        <br />
        <div class="row ">


            <label class="col-12 border-top-0 border-bottom-0 text-dark btn btn-dark">
                <span id="createfileentityselectfile" style="color:dodgerblue; font-size:15px;">SelectFile</span>

                <input asp-for="FileToCopy" name="filetocopy" id="fileentitycreatefromfile" type="file" class="form-control col-6 btn btn-outline-dark border-0">
            </label>
        </div>

        <br />
        <br />

        <div class="row justify-content-end container">

            <input class="btn btn-success" type="button" value="Submit" id="fileentitycreateformsubmit" />
        </div>


    </form>




</body>

<script src="~/js//FileEntity.Create/FileEntityCreate.min.js"></script>

