@{
    ViewData["Title"] = "FileEntities";
    Layout = "CustomLayout";

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>



<body>

    <div class="parent2">




        <br />
        <center>
            <h1>
                .  File Records  .
            </h1>
            <br />
            <a asp-controller="FileEntity" asp-action="Create" class="btn-primary">Add File Record+</a>
            <a asp-controller="Project" asp-action="Index" class="btn-primary">Projects</a>

            <center>
                <center>
                <form >

                    <input name="searching" class="btn-primary" placeholder="Name,Path Or ..." id="fileentityindexsearch" />
                    <input class="btn-primary" value="Search"  id="fileentityindexsearchsubmit" type="button"/>    
                </form>
                </center>
            </center>
            <table class="table table-responsive table-striped" id="fileentityindextable">
                <thead>
                    <tr class="table-info" >
                        <th scope="col"><center>#</center></th>
                        <th scope="col"><center>Name</center></th>
                        <th scope="col"><center>ProjectName</center></th>
                        <th scope="col"><center>ProjectName</center></th>
                        <th scope="col"><center>FilePath</center></th>
                        <th scope="col"><center>Description</center></th>
                        <th scope="col"><center>Size</center></th>
                        <th scope="col"><center>Edit</center></th>
                        <th scope="col"><center>Delete</center></th>


                    </tr>
                </thead>

                <tbody>

                </tbody>
               
            </table>
        </center>

        <br />
    </div>

    <script src="~/js/FileEntity.Index/FileEntityIndex.min.js"></script>

</body>