@{
    ViewData["Title"] = "FileEntities";
    Layout = "_Layout";

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>



<body>
    <div class="container">




        <br />
        <center>
            <h1>
                .  File Records  .
            </h1>
            <br />

            <div class="row">
            <div class="col-6">
                    <a asp-controller="FileEntity" asp-action="Create" class="btn btn-outline-dark">Add+</a>
                    <a asp-controller="Project" asp-action="Index" class="btn btn-outline-dark">Projects</a>
            </div>


            <div class="col-6">
                    <input name="searching" class="btn btn-outline-dark" placeholder="Name,Path Or ..." id="fileentityindexsearch" />
            </div>
            </div>


            <br />
            <br />

            <table class="table table-responsive table-striped" id="fileentityindextable">
                <thead class="thead-dark">
                    <tr class="table-dark">
                        <th scope="col" class="col-1"><center>#</center></th>
                        <th scope="col" class="col-2"><center>Name</center></th>
                        <th scope="col" class="col-2"><center>ProjectName</center></th>
                        <th scope="col" class="col-1"><center>Date Added</center></th>
                        <th scope="col" class="col-2"><center>FilePath</center></th>
                        <th scope="col" class="col-1"><center>Description</center></th>
                        <th scope="col" class="col-1"><center>Size</center></th>
                        <th scope="col" class="col-1"><center>Edit</center></th>
                        <th scope="col" class="col-1"><center>Delete</center></th>

                    </tr>

                </thead>

                <tbody>
                </tbody>
            </table>


        </center>

        <br />
    </div>

    <script src="~/js/FileEntity.Index/FileEntityIndex.min.js"></script>

</body>