@{
    ViewData["Title"] = "FileEntities";
    Layout = "_Layout";

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>




<body>



    <div class="container">



        @*         <div class="fixed-top">
        <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarToggleDemo3" aria-controls="navbarToggleDemo3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        </nav>
        </div> *@
         
        <br />
        <center>
            <h1>
                .  File Records  .
            </h1>
            <br />
            <nav class="navbar col-12 navbar-expand navbar-dark bg-dark margin-0 ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a asp-controller="FileEntity" asp-action="Create" class="nav-link">Add+</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Project" asp-action="Index">Projects</a>
                        </li>
                    </ul>

                    <div class="justify-content-end input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text btn-outline-light">Search</div>
                        </div>
                        <input name="searching" class="btn btn-outline-light " placeholder="Name,Path Or ..." id="fileentityindexsearch" />

                    </div>
                </div>
            </nav>

            @*  <div class="row container">
            <div class="col col-md col-sm col-lg col-xl row">
            <a asp-controller="FileEntity" asp-action="Create" class="btn btn-outline-dark col col-md col-sm col-lg col-xl">Add+</a>
            <a asp-controller="Project" asp-action="Index" class="btn btn-outline-dark col col-md col-sm col-lg col-xl">Projects</a>
            </div>


            <div class="col col-md col-sm col-lg col-xl row">
            <input name="searching" class="btn btn-outline-dark col col-md col-sm col-lg col-xl" placeholder="Name,Path Or ..." id="fileentityindexsearch" />
            </div>
            </div> *@


            <br />
            <br />

            <div class="row container col-12 p-0" >

                <table class="table table-responsive table-striped" id="fileentityindextable">
                    <thead class="thead-dark align-self-center">
                        <tr class="table-dark">


                            <th scope="col" class="col col-md col-sm col-lg col-xl"><center>#</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl"><center>Name</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl"><center>ProjectName</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl"><center>Date Added</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl"><center>FilePath</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl"><center>Description</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl"><center>Size</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl"><center>Edit</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl "><center>Delete</center></th>
                            <th scope="col" class="col col-md col-sm col-lg col-xl "><center>Detail</center></th>


                        </tr>

                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>


        </center>

        <br />
    </div>

    <script src="~/js/FileEntity.Index/FileEntityIndex.min.js"></script>
</body>